/*
--- 01 TYPOGRAPHY SYSTEM

--- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 
*/

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4d04eff;
  min-height: 100vh;
}
.preview {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 2.4rem;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 3px 3px 4px 4px;
}
.preview__img img {
  width: 100%;
  border-radius: 9px;
}

.preview--tag {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 800;
  background-color: #f4d04eff;
  color: #000;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  margin-bottom: 1.4rem;
}
.preview--date {
  font-size: 1.4rem;
  color: #000;
  margin-bottom: 1.6rem;
}
.main-heading {
  margin-bottom: 1.8rem;
}
.preview--text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #6b6b6bff;
  margin-bottom: 2.4rem;
}
.preview__person {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.preview__person img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}
.preview__person--name {
  color: #000;
  font-weight: 800;
  font-size: 1.2rem;
}
