/****************************************
************* GENERAL RULES ************* 
*****************************************/
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
}

.contanier {
  max-width: 90rem;
  margin: 0 auto;
  padding: 9.6rem;
  text-align: center;
}
.sub-container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 9.6rem 9.6rem 9.6rem;
}
.heading-primary {
  font-size: 4.4rem;
  color: #4c545dff;
}
.heading-secondary {
  font-size: 3.6rem;
  color: #4c545dff;
}
.heading-third {
  font-size: 2rem;
  color: #4c545dff;
}
.heading-tertiary {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #9fabb2ff;
  margin-top: 1.6rem;
}

/****************************************
************* HEADER ******************** 
*****************************************/
.header {
  margin: 0 auto;
  padding: 6.4rem 9.6rem;
  background-image: url(../images/bg-header-desktop.png);
  background-size: cover;
  text-align: center;
}

/****************************************
************* HERO SECTION ************** 
*****************************************/
.section__hero {
  padding-top: 0;
}

.hero__content {
  margin-bottom: 4.8rem;
}

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  letter-spacing: 0.1rem;
  padding: 1.4rem 2.8rem;
  border-radius: 27px;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.btn__cta--ios {
  background-color: #26baa4ff;
  box-shadow: 0 0.2rem 0.7rem 0.2rem rgb(38, 186, 164, 0.4);
}
.btn__cta--mac {
  margin-left: 1.4rem;
  background-color: #6173ffff;
  box-shadow: 0 0.2rem 0.7rem 0.2rem rgb(97, 115, 255, 0.4);
}
.btn__cta--ios:hover {
  background-color: rgb(20, 155, 135);
}
.btn__cta--mac:hover {
  background-color: rgb(81, 95, 198);
}

/****************************************
************* FEATURES SECTION **********  
*****************************************/
.features__img img {
  width: 100%;
}

.features_types {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 6.4rem;
}
.features {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 2.4rem;
}

/****************************************
************* ACCESS SECTION ************  
*****************************************/
.access__img {
  margin-top: 6.4rem;
  display: flex;
  justify-content: center;
}

/****************************************
************* WORKFLOW SECTION **********  
*****************************************/
.workflows {
  display: flex;
  gap: 2.4rem;
  justify-content: space-around;
}
.workflow {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

/****************************************
************* LOGOS SECTION ************* 
*****************************************/
.section__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding: 9.6rem;
}

.section__logos img {
  width: 20rem;
}
/****************************************
************* FOOTER ********************
*****************************************/
.footer {
  background-color: #edeff0;
}
.footer__content {
  padding: 3.2rem 6.4rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}
.footer__logo img {
  width: 5rem;
  height: 5rem;
}
.list__text {
  list-style: none;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.4rem;
}
.footer__links {
  justify-self: end;
}
.list__links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.link:link,
.link:visited {
  text-decoration: none;
  color: #4c545dff;
}
